<div *ngIf="libros.length; else noLibros">
    <table class="table table-striped table-light">
        <thead >
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
                <td>{{libro.id}}</td>
                <td>{{libro.titulo}}</td>
                <td>{{libro.autor}}</td>
                <td>
                    <button class="btn btn-danger" (click)="borrar(libro.id)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noLibros>
    <h1>No hay libros</h1>
</ng-template>